@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  height: 70px;
  padding: 0 70px;
  margin: 0 auto;
}

.logo-link {
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;   /*345+345/3*/
  margin: 0;
  margin-left: 30px;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: inline-block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon:hover > path {
  fill: #756257;
}

.navigation-icon:active > path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-user {
  margin-left: auto;
}

.navigation-user .navigation-link {
  padding: 32px 21px;
}

.navigation-item {
  position: relative;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 68px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.navigation-link-current-catalog::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 93px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.number-like::before {
  position: absolute;
  font-family: inherit;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17px;
  left: 25px;
  width: 19px;
  height: 19px;
  background-color: #7DB550;
  content: "12";
  border-radius: 50%;
  z-index: 1;
}

.number-like:active::before {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-link--button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
  min-width: 160px;
  min-height: 37px;
  text-align: center;
  padding: 9px 15px;
  margin-left: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.navigation-link--button:hover {
  background-color: #615048;
}

.navigation-link--button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link--button:focus-visible {
  background-color: #615048;
  outline: #83B3D3 solid 3px;
}

.main-container {
  position: relative;
  flex-grow: 1;
  top: -5px;
}

.main-index {
  text-align: center;
}

.main-inner {  
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.promo {
  background: url("../images/divider.svg") bottom, url("../images/mountain-welcome.jpg");
  background-repeat: no-repeat;
  background-color: #5f9ea0;
  background-size: 100% auto;
  padding: 51px 371px 82px;
}

.promo-image {
  display: block;
}

.advantages {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
}

.advantages-block {
  display: flex;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 31px;
  padding: 0 240px;
}

.advantages-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 80px;
  padding: 0 240px;
}

.advantages-block-text {
  width: 400px;
  color: #ffffff;
  background-color: #83B3D3;
  margin: 0 auto;
  padding: 97px 90px 87px;
}

.advantages-block-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.advantages-block-number {
 margin: 0 auto 30px;
}

.advantages-block-description {
  margin: 0;
}

.advantages-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  background-color: #F0F6FA;
  padding: 184px 75px 79px;
}

.advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.advantages-number {
  margin: 0 auto 30px;
}

.advantages-description {
  margin: 0 auto;
}

.advantages-list--features .advantages-item {
  padding: 98px 75px 108px;
}

.advantages-list--features .advantages-item:nth-child(2n) {
  background-color: #E6F0F6;
}

.advantages-list--features .advantages-item-title {
  margin: 0 auto 30px;
}

.advantages-item-housing {
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: center top 89px;  
}

.advantages-item-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center top 91px;  
}

.advantages-item-gifts {
  background-image: url("../images/gifts.svg");
  background-repeat: no-repeat;
  background-position: center top 85px;  
}

.search {
  display: flex;
  flex-direction: column;
  padding: 91px 240px 93px;
  align-items: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  width: 575px;
  padding: 15px;
  border: none;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus-visible {
  background-color: #615048;
  outline: #83B3D3 solid 3px;
}

.subscription {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/mountain-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 94px 200px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 29px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 46px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 600px;
  padding: 0;
  padding-left: 22px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.field:hover {
  background-color: #F2F2F2;
}

.field:active {
  background-color: #E5E5E5;
}

.field:focus-visible {
  background-color: #E5E5E5;
  outline: #83B3D3 solid 3px;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 34px 16px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:focus-visible {
  background-color: #68A2CA;
  outline: #756257 solid 3px;
}

.page-footer {
  line-height: 26px;
  color: #333333; 
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 72px;
  background-color: #ffffff;
}

.footer-social {
  min-width: 130px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  position: relative;
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-icon:hover > path {
  fill: #68A2CA;
}

.social-icon:active > path {
  fill: rgba(104, 162, 202, 0.3);
}

.social-icon:focus-visible > path {
  fill: #68A2CA;
  outline: #83B3D3 solid 3px;
  border-radius: 10px;
}

.footer-social-link:focus-visible {
  border: none;
  outline: #83B3D3 solid 3px;
  border-radius: 10px;
}

.contacts {
  margin: 0 auto;
}

.contact-address {
  font-style: normal;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration-line: none;
  margin: 0;
  padding: 12px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.contacts-phone:focus-visible {
  color: #756257;
  outline: #83B3D3 solid 3px;
  border-radius: 10px;
}

.htmlacademy-link {
  display: block;
  width: 130px;
  margin-left: auto;
}

.htmlacademy-icon:hover > path {
  fill: #756257;
}

.htmlacademy-icon:active > path {
  fill: rgba(117, 98, 87, 0.3);
}

.htmlacademy-icon:focus-visible > path {
  fill: #756257;
  /*outline: #83B3D3 solid 3px;
  border-radius: 10px;*/
}

.htmlacademy-link:focus-visible {
  border: none;
  outline: #83B3D3 solid 3px;
  border-radius: 10px;
}

.inner-block {
  background: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #83B3D3;
  padding: 35px 72px 83px;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 77px;
  margin: 0;
  height: 68px;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.catalog-filter-form {
  display: flex;

}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  width: 217px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-prise {
  width: 287px;
  margin-left: auto;
  margin-right: 81px;
}

.catalog-filter-prise-level {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.catalog-filter-choice {
  width: 160px;
  text-align: center;
  align-self: end;
}

.control-input {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 19px;
}

.button {
  font-family: inherit;  
  color: #ffffff;
  text-align: center;
  border: none;  
  cursor: pointer;
}

.button--submit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background: #83B3D3;
  text-transform: uppercase;
  padding: 13px 35px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.button--reset {
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  padding: 4px 13px;
  border-radius: 4px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  padding: 44px 72px 53px;
}

.select-filter {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  width: 528px;
}

.sorting-type {
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  color: #333333;
  padding-left: 19px;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
  cursor: pointer;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: #000000 solid 2px;
  padding: 12px;
  border-radius: 4px;
}

.card-grid-toggle {
  border: #E5E5E5 solid 2px;
}

.card-grid-toggle-current {
  border: #000000 solid 2px;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.hotels {
  margin: 0;
  padding: 0 72px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px 18px;
  margin-bottom: 34px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 133px 143px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  gap: 16px 25px;
}

.hotel-card-link {
  margin-bottom: 16px;
}

.hotel-card-image {
  display: block;
}

.hotel-card-link-title {
  text-decoration-line: none;
  margin-bottom: 16px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.button--hotel-card {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background: #756257;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  padding: 9px;
  border: none;
  border-radius: 4px;
}

.button--hotel-like {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  padding: 9px;
  border: none;
  border-radius: 4px;
}

.button--hotel-like-in {
  background: #7DB54F;
}

.hotel-card-rating {
  display: flex;
  justify-content: space-between;
}

.rating-stars {
  display: block;
}

.rating-number {
  font-size: 16px;
  line-height: 21px;
  background: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  padding: 9px;
  border: none;
  border-radius: 4px;
}

.button-line {
  padding: 30px;
  border-top: #E5E5E5 solid 1px;
  border-bottom: #E5E5E5 solid 1px;
}

.button--load {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-transform: uppercase;
  border: none;
  width: 620px;
  padding: 17px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  padding: 30px 72px 83px;
  margin: 0;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  padding: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.pagination-filter {
  margin-left: auto;
  margin-right: 51px;
}

.pagination-control {
  width: 160px;
  height: 48px;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
  cursor: pointer;
}

.subscription--no-image {
  color: #000000;
  background: #ffffff;
}