@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-header {
  margin: 0 auto;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  padding: 0 70px;
  margin: 0 auto;
}

.logo-link {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  max-width: 460px;   /*345+345/3*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link--button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
  background-color: #ffffff;
}

.main-inner {  
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promo {
  background: url("../images/divider.svg") bottom, url("../images/mountain-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5f9ea0;
  padding: 0 240px;
}

.promo-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;  
}

.advantages {
  display: block;
} 

.advantages-block {
  display: flex;
  padding: 0;
}

.advantages-title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
}

.advantages-block-text {
  width: 400px;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-block-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-block-description {
  margin: 0 auto;
  padding: 0 90px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  background-color: #F0F6FA;
  padding: 0 75px;
}

.advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0 auto;

}

.advantages-list--features .advantages-item:nth-child(2n) {
  background-color: #E6F0F6;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding: 0 240px;
}

.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
}

.subscription {
  display: block;
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/mountain-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 200px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
  border: none
}

.page-footer {
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;  
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 72px;
}

.footer-social-list {
  width: 160px;
  list-style: none;
  padding: 0;
}

.contacts {
  margin: 0 auto;
}

.contact-address {
  font-style: normal;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration-line: none;
}

.htmlacademy-link {
  display: block;
}

.inner-block {
  background: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #83B3D3;
  padding: 0 72px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter {
  color: #ffffff;
  display:flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.button {
  font-family: inherit;
}

.button--submit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  text-transform: uppercase;
  border: none;  
}

.button--reset {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  border: none;
  background-color: transparent;
}

.select {
  color: #000000;
  padding: 0 72px;
}

.select-filter {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotels {
  margin: 0;
  padding: 0 72px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-column {
  display: flex;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration-line: none;  
}

.button--hotel-card {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background: #756257;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
}

.button--hotel-like {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
}

.button--hotel-like-in {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background: #7DB54F;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  background: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}

.button--load {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.pagination {
  margin: 0;
  padding: 0 72px;
}
.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.subscription--no-image {
  color: #000000;
  background: #ffffff;
}